.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 5vw;
    padding-block: 3vh;
}

.navbar-logo {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-hamburger {
    display: block; 
    width: 1.75rem;
    height: 1.5rem;
    align-self: center;
}

.navbar-menu {
    position: fixed;
    display: flex; 
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: flex-start;
    padding-inline-start: 2rem;
    padding-inline-end: clamp(6rem, 30vw, 50vw);
    gap: 4ch;
    font-size: var(--fs-300);
    backdrop-filter: blur(30px);
    z-index: 2;
}

.navbar-close {
    display: block; 
    position: fixed;
    top: 2.75rem;
    right: 5vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 3;
}

.h-line {
    display: none;
}

a {
    text-decoration: none;
    color: hsl(var(--neutral-color-light));
}

a:first-child {
    margin-block-start: 7rem;
}

ul {
    display: none;
    gap: 5ch;
    align-items: center;
}

li {
    display: flex;
    gap: 2ch;
    text-transform: uppercase;
    font-family: var(--ff-sans-condensed);
    font-size: var(--fs-100);
    letter-spacing: var(--letter-spacing-4);
}

a[aria-current="page"] > li::after {
    display: block; 
    content: "";
    position: absolute;
    border-right: .188rem solid hsl(var(--neutral-color-light));
    height: 2rem;
    transform: translateY(-.25rem);
    right: 0; 
}

li > span {
    font-weight: 700;
}


@media (min-width: 48rem){
    ul {
        display: flex;
        flex-direction: row;
    }

    a:first-child {
        margin-block-start: 0;
     }

     a[aria-current="page"] > li::after {
        display: none; 
    }

    .navbar-wrapper {       
        padding-block: 0;
        align-items: center;
    }
    .navbar-logo{
        width: 3rem;
        height: 3rem; 
    }
    .navbar-hamburger {
        display: none;
    }
    .navbar-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 5ch;  
        background-color: var(--neutral-color-dark); 
        font-size: var(--fs-100); 
        padding-block: 2rem; 
        padding-inline: 0;
        top: 0;
        backdrop-filter: none;        
    }

    .navbar-menu > a[aria-current="page"] {
        padding-bottom: 2em;
        border-bottom: 0.188rem solid hsl(var(--neutral-color-light));
        border-right: 0;
        cursor: pointer;
    }

    .navbar-menu > *:hover,
    .navbar-menu > *:focus {
        padding-bottom: 2em;
        border-bottom: 0.188rem solid hsl(var(--neutral-color-light));
        border-right: 0;
        cursor: pointer;
        border-color: hsl(var(--neutral-color-light), 0.5);
    }
   
    .navbar-menu span {
        display: none;
    }

    .navbar-close {
        display: none;
    }
}

  @media (min-width: 90rem) {

    a:first-child {
        margin-block-start: 0;
     }

    .h-line {
        display: inline-block;
        width: 100%; 
        margin-left: 5ch;
        border-bottom: 1px solid white;
        opacity: .25;
    }
    
    .navbar-wrapper { 
        padding-inline: 3vw;
        padding-block: 4vh;
        align-items: center;
    }
    .navbar-logo{
        width: 3rem;
        height: 3rem; 
    }

    .navbar-hamburger {
        display: none;
    }
    .navbar-menu {
        position: relative;
        flex-direction: row;
        font-size: var(--fs-100);
        padding-inline: clamp(3rem, 10vw, 7rem);
        padding-block: 0;
        padding-block-start: 2rem;
        backdrop-filter: blur(20px);
        gap: 5ch;
    }
  }